<!doctype html>
<html lang="ru">


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Andrey Fedorov">
    <title>My scada</title>
    <!-- Bootstrap core CSS -->
    <link href="/static/css/bs/bootstrap.min.css" rel="stylesheet">
    <!-- Favicons -->
    <meta name="theme-color" content="#7952b3">
    <link href="/static/css/scada.css" rel="stylesheet">
</head>
<body class="" style="">

<!-- пока Vue не отрисовал страницу и не пришли виджеты — полоса загрузки вместо сырой разметки -->
<div id="app-loading" class="app-loading"><div class="app-loading-bar"></div></div>

{% verbatim %}


<main class=" ml-sm-auto  px-md-4 " id="app" v-cloak>


    <div class="justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
         style="display: flex; padding-right: 20px; padding-left: 20px; margin-top: 0; padding-top: 0;">
        <img src="/static/img/logo-2.png" style="width: 150px">


        <div>
            <button v-on:click="exit()" class="menu_item">выход</button>

            <div class="dropdown">
                <button class="dropbtn">виджеты</button>
                <div class="dropdown-content">

                    <div v-for="i in widgets_new">
                        <a href="##" v-on:click="add_widget(i.id)">{{i.title}} </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Нет связи с сервером: показанные данные устарели -->
    <div v-if="stale" class="connection-lost">
        Нет связи с сервером<span v-if="last_ok">, данные на {{ last_ok_time }}</span>
    </div>

    <!-- Блок отображения данных-->
    <div class="app"> <!-- оласть приложениея vue -->


        <div class="card-deck row" :class="{stale: stale}">

            <!-- Окна с виджетами -->
            <div v-on:dblclick="details(item.id, $event)" class="card" v-for="item in widgets_list" :key="item.id"
                 draggable="true" :class="{dragging: drag_id == item.id}"
                 v-on:mousedown="drag_from_input = $event.target.tagName == 'INPUT'"
                 v-on:dragstart="drag_start(item.id, $event)"
                 v-on:dragover.prevent="drag_over(item.id)"
                 v-on:drop.prevent="drag_end()"
                 v-on:dragend="drag_end()">
                <!--заголовок окна-->
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">
                        <div class="close"></div>
                        <div class="control_buttons">
                            <a href="##" v-on:click="delete_widget(item.id)">x</a>
                        </div>

                        <div v-if="item.online" class="online">online</div>
                        <div v-else class="online text-danger alarm">offline {{ item.date }}</div>
                        <input
                                v-on:focus="title_focus(item)"
                                v-on:blur="title_edit(item)"
                                v-on:keyup.enter="$event.target.blur()"
                                v-on:keyup.esc="title_cancel(item, $event)"
                                v-model='item.title'>

                    </h4>
                    <div v-if="cmd_errors[item.id]" class="cmd-state cmd-error">{{ cmd_errors[item.id] }}</div>
                    <div v-else-if="cmd_pending(item)" class="cmd-state cmd-pending">команда отправлена, ждём устройство…</div>
                </div>

                <!--Содержимое: компонент виджета по его типу -->
                <component v-if="item.sensor.widget" :is="'widget-' + item.sensor.widget.id" :item="item"></component>

            </div>


        </div>
    </div>




    <div v-show="show_details" class="details_container">

        <div class="details">
            <a v-on:click="details_clear()" href="##">X</a>

            <h3>{{ detail.title }}</h3>
            <!-- все параметры виджета на одном графике, у каждого своя шкала -->
            <div class="details_chart">
                <br>
                <canvas ref="chart"></canvas>
                <div v-if="detail.empty" class="text-muted">за сутки нет данных в архиве</div>
                <br><br>
            </div>



        </div>

    </div>

    <div class="sensor_add">
        <div v-for="i in widgets_new" v-on:click="add_widget(i.id)"><a href="##">{{ i.title }}</a></div>

    </div>

</main>
{% endverbatim %}

<!-- Шаблоны виджетов: по одному на тип, из них scada.js делает Vue-компоненты widget-<id> -->
{% for widget in widgets %}
<script type="text/x-template" id="widget-tpl-{{ widget.id }}"><div class="widget-body">{% include widget.filename %}</div></script>
{% endfor %}

<script src="/static/js/chart.js"></script>
<script> const csrf_token = "{{csrf_token}}"</script>
<script src="/static/js/vue.min.js"></script>
<script src="/static/js/mqtt_ws.js"></script>
<script src="/static/js/scada.js"></script>
<br><br><br>
</body>
</html>
