{% verbatim %}

<!-- датчик давления: data — расстояние до воды, см; колодец 4.2 м, рабочий диапазон 3.7 м -->
<div v-if="item.data.length" style="width: 350px; vertical-align: bottom; position: relative;">
    <img src="/static/img/kolodec.png" class="kolodec">
    <img :height="(4.2 - item.data[0].data/100)/3.7*350+50"
         :src="item.online ? '/static/img/water.gif' : '/static/img/water-stop.gif'"
         style="width: 190px;  position: absolute; bottom: 0; left: 78px;">
    <div class="water-back"></div>
    <span class="water-show">{{ (420 - item.data[0].data) / 100 }}</span>
    <div style="width: 190px; position: absolute; bottom: 70px; left: 78px;">
        <span v-if="item.online" style="color: #04fc43;"><h3>online</h3></span>
        <span v-else><h3 class="alarm">offline</h3></span>
    </div>
</div>
<div v-else><h1>Нет данных</h1></div>
<br>

{% endverbatim %}
