{% verbatim %}

<!-- Монитор нагрузок: только показания — температуры (T*) и состояние реле (C-*) -->
<div class="text-center">
    <span v-for="sensor in item.data" v-if="sensor.type && sensor.type.subtitle[0] == 'T'">
        <br><span class="weatherEx"><b>{{ sensor.type.title }}:</b></span><br>
        <span class="weather">
            <span>{{ sensor.data / sensor.type.divider }} С</span>
            <span> o</span><br>
        </span>
    </span>
</div>

<br><br>
<span v-for="sensor in item.data" v-if="sensor.type && sensor.type.subtitle[0] == 'C'">
    <div class="relay_button" :style="sensor.data ? 'background:green' : ''">{{ sensor.type.subtitle[2] }}</div>
</span>
<br><br>

{% endverbatim %}
